.videoCard {
  margin: 0 0 40px 0;
  width: 260px;

  &__thumbnail {
    height: 140px;
    width: 240px;
  }

  &__info {
    display: flex;
    margin: 10px 0 0 0;
    padding: 0 30px 0 0;

    &__avatar {
      height: 37px !important;
      width: 37px !important;
    }

    &__text {
      margin: 0 0 0 10px;

      h4 {
        font-size: 14px;
        margin: 0 0 5px 0;
      }

      p {
        font-size: 14px;
        color: gray;
      }
    }
  }
}
