.videoRow {
  margin: 0 0 30px 0;
  max-width: 700px;
  display: flex;

  &__thumbnail {
    object-fit: contain;
    height: 138px;
    width: 246px;
  }

  &__text {
    margin: 0 0 0 14px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 12px;
      color: #606060;
    }
    &__subs {
      font-weight: bolder;
      color: rgb(84, 157, 211);
    }
    &__description {
      margin: 20px 0 0 0;
    }
  }
}
