.searchPage {
  background-color: #f9f9f9;
  padding: 20px 20px 0 20px;
  width: 76vw;
  z-index: 99;

  &__filter {
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;

    h2 {
      font-size: 18px;
      margin: 0 0 0 1%;
    }
  }

  hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin: 10px 0;
  }

  &__videos {
    display: flex;
    flex-direction: column;
  }

  h5 {
    margin: 20px 0 28px 0;
  }
}
